<div>
  <div class="my-3">
    <.live_component id="bread_crumb" module={ProjeXpertWeb.BreadCrumb} path={@current_path} />
  </div>
  <div class="my-6">
    <ul class="flex space-x-2 mb-4 sm:mb-0">
      <.link navigate={~p"/settings"}>
        <button class={
          [
            "px-4 py-2 text-sm font-medium rounded-md hover:bg-blue-600 hover:text-white transition-colors",
            @current_tab == nil && "bg-blue-600 text-white",
            @current_tab != nil && "text-gray-700 bg-gray-100"
          ]
          |> combine_classes()
        }>
          Profile
        </button>
      </.link>
      <.link
        :for={status <- [:security, :payment, :notifications]}
        navigate={~p"/settings?tab=#{Atom.to_string(status)}"}
      >
        <button class={
          [
            "px-4 py-2 text-sm font-medium rounded-md hover:bg-blue-600 hover:text-white transition-colors",
            @current_tab == Atom.to_string(status) && "bg-blue-600 text-white",
            @current_tab != Atom.to_string(status) && "text-gray-700 bg-gray-100"
          ]
          |> combine_classes()
        }>
          <%= camel_case_string(status) %>
        </button>
      </.link>
    </ul>
  </div>
  <div class="max-h-[calc(100vh-23vh)] overflow-y-scroll">
    <div :if={@current_tab == nil}>
      <div class="grid gap-8">
        <!-- Password Update div -->
        <div class="rounded-lg shadow-lg p-6">
          <h2 class="text-2xl font-semibold mb-6 text-blue-600">Update Profile</h2>
          <.form
            :let={pc}
            id="p-form"
            for={@profile_changeset}
            as={:profile}
            phx-change="validate_profile"
            phx-submit="update_profile"
            class="space-y-4"
          >
            <div class="grid md:grid-cols-2 gap-8">
              <div class="flex flex-col items-center justify-between">
                <img
                  :if={
                    is_nil(@current_user.profile_image) and
                      Enum.empty?(@uploads.profile.entries)
                  }
                  class="h-30 w-30 object-cover rounded-full border-2 border-blue-400"
                  src="https://via.placeholder.com/150"
                  alt="Profile Picture"
                />
                <img
                  :if={!is_nil(@current_user.profile_image)}
                  class="h-44 w-44 object-cover rounded-full border-2 border-blue-400"
                  src={@current_user.profile_image}
                  alt="Profile Picture"
                />
                <.live_img_preview
                  :if={!Enum.empty?(@uploads.profile.entries)}
                  class="h-44 w-44 object-cover rounded-full border-2 border-blue-400"
                  entry={List.first(@uploads.profile.entries)}
                />
                <.text_editor field={pc[:bio]} id="user-bio" label="Bio" class="max-w-lg" />
              </div>
              <div class="flex flex-col space-y-4">
                <.upload_attachments
                  label="Change Photo"
                  upload_field={@uploads.profile}
                  class="mb-0"
                />
                <div class="flex justify-between">
                  <.input
                    type="text"
                    field={pc[:first_name]}
                    label="First Name"
                    class="w-[18rem]"
                  />
                  <.input type="text" field={pc[:last_name]} label="Last Name" class="w-[18rem]" />
                </div>
                <div class="flex justify-between">
                  <.input type="text" field={pc[:username]} label="Username" class="w-[18rem]" />
                  <.input
                    type="select"
                    field={pc[:gender]}
                    label="Gender"
                    class="w-[18rem]"
                    prompt="Select Gender"
                    options={[
                      Male: :male,
                      Female: :female,
                      Other: :other,
                      "Prefer not to say": :prefer_not_to_say
                    ]}
                  />
                </div>
                <div class="flex justify-between">
                  <.input type="text" field={pc[:location]} label="Location" class="w-[18rem]" />
                  <.input type="date" field={pc[:birthdate]} label="Birthdate" class="w-[18rem]" />
                </div>
                <.button class="w-full" type="submit" phx-disable-with="Updating...">
                  Update Profile
                </.button>
              </div>
            </div>
          </.form>
        </div>
        <div class="rounded-lg shadow-lg p-6">
          <h2 class="text-2xl font-semibold mb-6 text-blue-600">Notification Preferences</h2>
          <.form
            :let={np}
            id="np-form"
            class="space-y-4"
            for={@np_changeset}
            as={:np}
            phx-change="validate_np"
            phx-submit="update_np"
          >
            <.input type="hidden" field={np[:user_id]} value={@current_user.id} />
            <.input type="switch" field={np[:email]} label="Email Notifications" />
            <.input type="switch" field={np[:sms]} label="SMS Notifications" />
            <.input type="switch" field={np[:push]} label="Push Notifications" />
            <.button type="submit" class="w-full">
              Save Preferences
            </.button>
          </.form>
        </div>
      </div>
    </div>
    <div :if={@current_tab == "security"}>
      <h2 class="text-2xl font-semibold text-blue-600 mb-6">Security Settings</h2>
      <div class="grid md:grid-cols-2 gap-8 mt-6">
        <!-- Password Update div -->
        <div class="rounded-lg shadow-lg p-6">
          <h2 class="text-2xl font-semibold mb-6 text-blue-600">Update Password</h2>
          <.form
            :let={pf}
            class="space-y-4"
            for={@password_form}
            id="password_form"
            action={~p"/log_in?_action=password_updated"}
            method="post"
            phx-change="validate_password"
            phx-submit="update_password"
            phx-trigger-action={@trigger_submit}
          >
            <.input
              name={pf[:email].name}
              type="hidden"
              id="hidden_user_email"
              value={@current_email}
            />
            <div class="grid grid-cols-2 gap-3">
              <.input
                field={pf[:password]}
                type="password"
                label="New password"
                class="w-full"
                required
              />
              <.input
                field={pf[:password_confirmation]}
                type="password"
                label="Confirm new password"
                class="w-full"
              />
            </div>
            <.input
              field={pf[:current_password]}
              name="current_password"
              type="password"
              label="Current password"
              id="current_password_for_password"
              value={@current_password}
              class="w-full"
              required
            />
            <.button type="submit" class="w-full" phx-disable-with="Updating...">
              Update Password
            </.button>
          </.form>
        </div>
        <!-- Email Update div -->
        <div class="rounded-lg shadow-lg p-6">
          <h2 class="text-2xl font-semibold mb-6 text-blue-600">Update Email</h2>

          <.form
            class="space-y-4"
            for={@email_form}
            id="email_form"
            phx-submit="update_email"
            phx-change="validate_email"
          >
            <.input
              field={@email_form[:email]}
              type="email"
              label="Email"
              class="w-full"
              required
            />
            <.input
              field={@email_form[:current_password]}
              name="current_password"
              id="current_password_for_email"
              type="password"
              label="Current password"
              class="w-full"
              value={@email_form_current_password}
              required
            />
            <.button type="submit" class="w-full" phx-disable-with="Updating...">
              Update Email
            </.button>
          </.form>
        </div>
      </div>
      <div class="rounded-lg shadow-lg p-6 mt-8">
        <h2 class="text-2xl font-semibold text-blue-600 mb-6">Two-Factor Authentication</h2>
        <div class="flex items-center justify-between">
          <span class="text-sm font-medium text-gray-700">Enable 2FA</span>
          <label class="switch">
            <input type="checkbox" class="sr-only peer" />
            <span class="slider bg-gray-200 peer-focus:ring-2 peer-focus:ring-blue-400 peer-checked:bg-blue-500">
            </span>
          </label>
        </div>
      </div>
    </div>
    <div :if={@current_tab == "payment"}>
      <h2 class="text-2xl font-semibold text-blue-600 mb-6">Payment Methods</h2>
      <div class="space-y-4">
        <div
          :if={Enum.empty?(@current_user.payment_methods)}
          class="flex items-center justify-between p-4 rounded-lg border border-gray-200"
        >
          <div class="flex items-center space-x-3">
            <svg
              class="w-8 h-8 text-blue-600"
              fill="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M22 4H2c-1.11 0-2 .89-2 2v12c0 1.11.89 2 2 2h20c1.11 0 2-.89 2-2V6c0-1.11-.89-2-2-2zm0 14H2V8h20v10zm-7-8H9v2h6v-2z" />
            </svg>
            <div>
              <p class="font-medium">Visa ending in 4242</p>
              <p class="text-sm text-gray-500">Expires 12/2024</p>
            </div>
          </div>
          <button class="text-blue-600 hover:text-blue-600 transition-colors">Edit</button>
        </div>
        <div
          :for={payment_method <- @current_user.payment_methods}
          :if={!Enum.empty?(@current_user.payment_methods)}
          class="flex items-center justify-between p-4 rounded-lg border border-gray-200"
        >
          <div class="flex items-center space-x-3">
            <svg
              class="w-8 h-8 text-blue-600"
              fill="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M22 4H2c-1.11 0-2 .89-2 2v12c0 1.11.89 2 2 2h20c1.11 0 2-.89 2-2V6c0-1.11-.89-2-2-2zm0 14H2V8h20v10zm-7-8H9v2h6v-2z" />
            </svg>
            <div>
              <p class="font-medium">
                <%= camel_case_string(payment_method.brand) %> ending in <%= payment_method.last_four_digits %>
              </p>
              <p class="text-sm text-gray-500">Expires <%= payment_method.expiry %></p>
            </div>
          </div>
          <.link navigate={~p"/settings/?tab=payment&modal=delete_pm&pm_id=#{payment_method.id}"}>
            <div class="text-red-600 hover:text-red-500 transition-colors">Delete</div>
          </.link>
        </div>
        <.link navigate={~p"/settings/?tab=payment&modal=new_pm"}>
          <div class="mt-4 w-full bg-blue-500 text-white text-center py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2 transition-colors">
            Add New Payment Method
          </div>
        </.link>
      </div>
    </div>
    <div :if={@current_tab == "notifications"}>
      <div class="flex justify-between items-center">
        <h2 class="text-2xl font-semibold text-blue-600 mb-6">In-App Notifications</h2>
        <.button
          phx-click="mark_all_as_read"
          type="button"
          class="text-sm tracking-wide space-x-2"
        >
          <span>Mark all as read</span>
        </.button>
      </div>
      <div class="bg-white shadow-md rounded-lg overflow-hidden">
        <ul class="divide-y divide-gray-200">
          <li
            :for={notification <- @all_notifications}
            class={
              [
                "p-4 transition duration-150 ease-in-out",
                !notification.is_read? && "bg-blue-100"
              ]
              |> combine_classes()
            }
          >
            <div class="flex items-center space-x-4">
              <div class="flex-shrink-0">
                <.dot_profile_image user={notification.user} class="w-8 h-8 rounded-full" />
              </div>
              <div
                phx-click="goto_notification"
                phx-value-id={notification.id}
                class="flex-1 min-w-0 cursor-pointer"
              >
                <%= raw(notification.message) %>
              </div>
              <div class="flex-shrink-0 text-sm text-gray-400">
                <%= relative_time(notification.inserted_at) %>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<.modal
  :if={@live_action == :new_pm}
  show={@live_action == :new_pm}
  id="project_modal"
  max_width="w-[50rem]"
  on_cancel={JS.navigate(~p"/settings?tab=payment")}
>
  <.live_component
    module={PaymentMethodModal}
    id={@payment_method.id || :new}
    title={@page_title}
    action={@live_action}
    payment_method={@payment_method}
    current_user={@current_user}
  />
</.modal>

<.modal
  :if={@live_action == :delete_pm}
  show={@live_action == :delete_pm}
  id="project_modal"
  max_width="w-[50rem]"
  on_cancel={JS.navigate(~p"/settings?tab=payment")}
>
  <.live_component
    module={PaymentDelete}
    id={@payment_method.id || :new}
    title={@page_title}
    action={@live_action}
    payment_method={@payment_method}
    current_user={@current_user}
  />
</.modal>
