<div class="bg-white flex flex-col items-center justify-center">
  <div class="flex flex-col px-4 rounded-3xl w-full max-w-3xl">
    <div class="flex items-center justify-center p-6 border-b">
      <h2 class="text-2xl font-semibold text-gray-800"><%= @title %></h2>
    </div>
    <.form
      :let={f}
      for={@changeset}
      id="project-form"
      phx-target={@myself}
      phx-change="validate"
      phx-submit="save"
    >
      <.input type="hidden" field={f[:project_id]} value={@project.id} />
      <div class="p-6 space-y-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <div class="col-span-2">
            <.input
              label="Sprint Title"
              type="text"
              field={f[:title]}
              placeholder="e.g: Sprint 1"
              class="w-full"
            />
          </div>

          <div>
            <.input label="Start Date" type="date" field={f[:start_date]} class="w-full" />
          </div>

          <div>
            <.input label="End Date" type="date" field={f[:end_date]} class="w-full" />
          </div>
        </div>

        <div class="flex items-center justify-end gap-4 py-6 border-t">
          <.link
            patch={@return_to}
            class="px-4 py-1.5 border border-gray-300 rounded-lg text-gray-700 hover:bg-gray-50 transition-colors"
          >
            Cancel
          </.link>
          <.button type="submit">
            <%= if(@action == :new_sprint, do: "Create", else: "Update") %>
            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                d="M9 5l7 7-7 7"
              >
              </path>
            </svg>
          </.button>
        </div>
      </div>
    </.form>
  </div>
</div>
